<html xmlns="http://www.w3.org/1999/xhtml" lang="pt_BR" xml:lang="pt_BR">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Delegacia Eletrônica</title>
<link rel="stylesheet" type="text/css"
	href="/delegacia/css/delegacia.css" />
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="/delegacia/js/listaVeiculo.js"></script>
</head>
<body>
	<div id='topo'
		style='display: flex; align-items: center; justify-content: center;'>
		<img src='/delegacia/img/police.png' width='110px' style='float: left' />
		<div style='text-align: center; padding: 5px 80px;'>
			<span class='header'>Delegacia Eletrônica</span><br> <span
				class='header'><b>Boletim de Ocorrência </b></span><br> <span
				class='header'>Controle de Furto de Veículos</span><br>
		</div>
		<img src='/delegacia/img/police2.png' width='160px' />
	</div>
	<center>
		<img height='5' src='/delegacia/img/utfLinha.jpg' width='100%'>
	</center>

	<h1>Lista de veículos furtados</h1>

	<div id="filtros">
	    <label for="filtroPlaca">Placa:</label>
	    <input type="text" id="filtroPlaca" placeholder="Placa do veículo" />
	
	    <label for="filtroCor">Cor</label>
	    <input type="text" id="filtroCor" placeholder="Cor do veículo" />
	
	    <label for="filtroTipo">Tipo:</label>
	    <select id="filtroTipo">
	        <option value="">Todos</option>
	        <option value="Carro">Carro</option>
	        <option value="Motocicleta">Motocicleta</option>
	        <option value="Caminhão">Caminhão</option>
	        <option value="Caminhão">Carreta</option>	        
	        <option value="Van">Van</option>
	        <option value="Van">Outros</option>
	    </select>
	
	    <button id="botaoFiltrar">Filtrar</button>
	    <button id="botaoLimpar">Limpar Filtros</button>
	</div>


	<table id="tabelaBos" border="2" cellspacing="0" cellpadding="6"
		rules="groups" frame="hsides" width="100%">
		<thead>
			<tr>
				<th>Ano fabricação</th>
				<th>Cor</th>
				<th>Marca</th>
				<th>Modelo</th>
				<th>Tipo</th>
				<th>Placa</th>
				<th>Cidade</th>
				<th>Estado</th>
			</tr>
		</thead>
		<tbody id="tabelaBosBody">
		</tbody>
	</table>
	</div>
	<span id="loading">Carregando dados...</span>
</body>
</html>
