* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #e0e0e0;
	color: #333;
}

#topo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #005f73;
	color: #fff;
	padding: 20px 40px;
}

#topo img {
	height: 60px;
}

#paginaAtual{
	display: flex;
	align-items: center;
}